<div class="projetos">
  <div class="title">
    <picture>
      <source srcset="./assets/webp/clientes/logo/santander.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/icons/santander.png" type="image/jpeg">
      <img src="./assets/imagens/clientes/icons/santander.png" alt="">
    </picture>
  </div>
  <div class="clientes">
    <picture>
      <source srcset="./assets/webp/clientes/ssantander-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/ssantander-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/ssantander-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/santanderrioo-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/santanderrioo-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/santanderrioo-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/santanderrio-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/santanderrio-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/santanderrio-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/santander4-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/santander4-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/santander4-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/santanderelect2-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/santanderelect2-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/santanderelect2-min.jpg" alt="">
    </picture>
  </div>
  <div class="title">
    <picture>
      <source srcset="./assets/webp/clientes/logo/fototica.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/icons/fototica.png" type="image/jpeg">
      <img src="./assets/imagens/clientes/icons/fototica.png" alt="">
    </picture>
  </div>
  <div class="clientes">
    <picture>
      <source srcset="./assets/webp/clientes/fototica1-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/fototica1-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/fototica1-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/fototica4-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/fototica4-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/fototica4-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/fototica2-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/fototica2-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/fototica2-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/fototica3-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/fototica3-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/fototica3-min.jpg" alt="">
    </picture>
  </div>
  <div class="title">
    <picture>
      <source srcset="./assets/webp/clientes/logo/smartfit.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/icons/smartfit.png" type="image/jpeg">
      <img src="./assets/imagens/clientes/icons/smartfit.png" alt="">
    </picture>
  </div>
  <div class="clientes">
    <picture>
      <source srcset="./assets/webp/clientes/smart3-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/smart3-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/smart3-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/smart2-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/smart2-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/smart2-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/smart4-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/smart4-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/smart4-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/smart6-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/smart6-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/smart6-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/smart5-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/smart5-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/smart5-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/smart7-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/smart7-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/smart7-min.jpg" alt="">
    </picture>
  </div>
  <div class="title">
    <picture>
      <source srcset="./assets/webp/clientes/logo/flytour.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/icons/flytour.png" type="image/jpeg">
      <img src="./assets/imagens/clientes/icons/flytour.png" alt="">
    </picture>
  </div>
  <div class="clientes">
    <picture>
      <source srcset="./assets/webp/clientes/flytour2-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/flytour2-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/flytour2-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/flytour-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/flytour-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/flytour-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/flytour3-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/flytour3-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/flytour3-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/flytour5-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/flytour5-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/flytour5-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/flytour4-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/flytour4-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/flytour4-min.jpg" alt="">
    </picture>
  </div>
  <div class="title">
    <picture>
      <source srcset="./assets/webp/clientes/logo/extrafarma.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/icons/extrafarma.png" type="image/jpeg">
      <img src="./assets/imagens/clientes/icons/extrafarma.png" alt="">
    </picture>
  </div>
  <div class="clientes">
    <picture>
      <source srcset="./assets/webp/clientes/extrafarma-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/extrafarma-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/extrafarma-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/extra2-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/extra2-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/extra2-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/extra1-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/extra1-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/extra1-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/extra3-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/extra3-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/extra3-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/extra5-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/extra5-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/extra5-min.jpg" alt="">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/extra4-min.webp" type="image/webp">
      <source srcset="./assets/imagens/clientes/extra4-min.jpg" type="image/jpeg">
      <img src="./assets/imagens/clientes/extra4-min.jpg" alt="">
    </picture>
  </div>
</div>