@import "../../../../assets/css/theme";
.projetos{
  .title{
    text-align: center;
    padding: 1rem 0;
  }
  .clientes{
    margin: 1rem 0;
    grid-area: card;
    display: grid;
    grid-row-start: 3;
    grid-template-columns: $app-grid-repeat;
    grid-gap: 1rem;
    img{
      max-width: 100%;
      border-radius: $app-border-r2;
    }
  }
}

@media (max-width: 680px) {

  .clientes{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

}