@import "../../../assets/css/theme";
#barcolor{
  background-color: #1b1b1b;
  height: $app-height-bar;
  background-attachment: fixed;
}
.contato{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  .mapa{
    iframe{
      min-width: 100%;
      max-width: 100%;
      min-height: 500px;
    }
  }
  .dados{
    display: grid;
    grid-template-columns: $app-grid-repeat;
    padding: $app-padding-calc;
    grid-gap: 2rem;
    h4{
      &::after{
        content: '';
        display: block;
        width: 37px;
        height: 3px;
        background-color: $app-pallet-primary;
        margin: 1rem 0;
        border-radius: $app-border-r2;
      }
    }
    .formulario{
      .form-control{
        border: 2px solid #e0e0e0;
        border-radius: $app-border-r2;
        color: #888;
        font-size: 15px;
        font-weight: 300;
      }
    }
    .maisinfo{
      h5{
        font-weight: 500;
      }
      p{
        color: #777;
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          i{
            float: left;
            width: 42px;
            padding: 1rem 0.877rem;
            background-color: $app-pallet-primary;
            color: $app-pallet-white;
            border-radius: $app-border-r2;
            margin: 0 1rem
          }
          h5{
          }
        }
      }
    }
  }
}
@media (max-width: 680px) {
  .contato{
    padding: $app-padding-mobile;
    .dados{
      grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
      padding: $app-padding-mobile;
      grid-gap: 1rem;
    }
    .mapa{
      display: none;
    }
  }
}