<div id="barcolor"></div>
<section class="contato">
  <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0601222762393!2d-46.82571898544235!3d-23.566284084680333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefffd300a6ea3%3A0xcffcc0feb7d9636c!2sPrompweb!5e0!3m2!1spt-BR!2sbr!4v1497962938763" style="border:0" allowfullscreen=""></iframe>
  </div>

  <div class="dados">
    <div class="formulario">
      <form action="">
        <div class="title">
          <h4>ENVIE UMA MENSAGEM</h4>
        </div>
        <div class="form-group">
          <label>Nome:</label>
          <input type="text" name="nome" class="form-control">
        </div>
        <div class="form-group">
          <label>email:</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Telefone:</label>
          <input type="text" name="telefone" class="form-control">
        </div>
        <div class="form-group">
          <label>Assunto:</label>
          <input type="text" name="assunto" class="form-control">
        </div>
        <div class="form-group">
          <label>Mensagem:</label>
          <textarea name="mensagem" id="" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <app-button color="primary">Enviar mensagem</app-button>
        </div>
      </form>
    </div>
    <div class="maisinfo">
      <div class="title">
        <h4>DETALHES</h4>
        <p>
          Nós da KEG estamos prontos em atendê-lo. Ligue para nós ou nos envie uma mensagem e iremos retornar o contato.
        </p>

        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <h5>Endereço</h5>
            <p>
              Rua Sidnei Soares de Andrade, 125, Pq. Jandaia - Carapicuíba - SP
            </p>
          </li>
          <li>
            <i class="far fa-envelope"></i>
            <h5>Email</h5>
            <p>
              Contato@kegvisual.com.br
            </p>
          </li>
          <li>
            <i class="fas fa-phone"></i>
            <h5>Fone</h5>
            <p>
              +55 11 4146-9394
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>