@import"../../../assets/css/theme";

#barcolor{
  background-color: #1b1b1b;
  height: $app-height-bar;
  background-attachment: fixed;
}
.servicos {
  background-color: $app-pallet-light;
  display: grid;
  grid-template-areas: 'title' 'card';
  padding: $app-padding-calc;
  grid-gap: 1rem;
  .title {
    text-align: center;
    grid-area: title;
    padding-bottom: 3rem;
    h1 {
      font-size: 3rem;
      b {
        color: $app-pallet-primary;
        font-weight: 700;
      }
      &::after {
        content: '';
        display: block;
        width: 47px;
        height: 5px;
        background-color: $app-pallet-primary;
        margin: 1rem auto;
        border-radius: $app-border-r2;
      }
    }
    app-button {
      margin: 0.5rem;
    }
  }
  .panel {
    grid-area: card;
    display: grid;
    grid-template-columns: $app-grid-repeat;
    grid-gap: 1rem;
    .card {
      border: 0;
      border-bottom: 2px solid #ddd;
      img {
        border-top-left-radius: $app-border-r2;
        border-top-right-radius: $app-border-r2;
      }
      h5 {
        &::after {
          content: '';
          display: block;
          width: 37px;
          height: 3px;
          background-color: $app-pallet-primary;
          margin: 1rem 0;
          border-radius: $app-border-r2;
        }
      }
      p {
        font-weight: 300;
      }
    }
  }
}
@media (max-width: 680px){
  .servicos{
    padding: $app-padding-mobile;
    .title{
      h1{
        font-size: 1.5rem;
      }
    }

  }

}