<div id="barcolor"></div>
<section class="servicos">
    <div class="title">
        <h1 class="display-4">Fornecemos serviços de Comunicação Visual desde <b>2009</b>
            e já atendemos mais de
            1000 clientes por todo Brasil!!</h1>
        <p class="text-secondary font-weight-light">Estamos sempre prontos a atendê-lo. Nós temos a solução para o seu projeto.</p>
    </div>
    <div class="panel">

        <div class="card">
            <img src="http://kegvisual.com.br/site/imagens/clientes/cvismart.jpg" class="img-fluid" alt="">
            <div class="card-body">
                <h5>Comunicação Visual Interna</h5>
                <p class="text-secondary">Fabricação e Instalação</p>
            </div>
        </div>
        <div class="card">
            <img src="http://kegvisual.com.br/site/imagens/clientes/cvesmart.jpg" class="img-fluid" alt="">
            <div class="card-body">
                <h5>Comunicação Visual Externa</h5>
                <p class="text-secondary">Fabricação e Instalação</p>
            </div>
        </div>
        <div class="card">
            <img src="http://kegvisual.com.br/site/imagens/clientes/adesivo.jpg" class="img-fluid" alt="">
            <div class="card-body">
                <h5>Soluções em Adesivos</h5>
                <p class="text-secondary">Impressão e Recortes</p>
            </div>
        </div>
        <div class="card">
            <img src="http://kegvisual.com.br/site/imagens/clientes/projeto.jpg" class="img-fluid" alt="">
            <div class="card-body">
                <h5>Projetos Especiais</h5>
                <p class="text-secondary">Fachadas, Banners etc...</p>
            </div>
        </div>
    </div>
</section>