<div id="barcolor" class="shadow-sm"></div>
<div class="sobre">
  <div class="title">
    <h1>
      Fundada em 2009, a KEG oferece aos seus clientes as melhores soluções em
      Comunicação Visual
    </h1>
    <p class="missao">
    <span>
      Nossa Missão
    </span>
      Oferecer soluções diferenciadas e inovadoras, com tecnologia avançada, em serviços de comunicação visual, agregando valor aos nossos clientes em qualidade, agilidade e excelência no atendimento, contribuindo para seu sucesso e crescimento e fortalecendo nossa parceria.
    </p>
    <p class="visao">
    <span>
      Nossa Visão
    </span>
      Ser a principal escolha em comunicação visual no Brasil em decorrência do alto padrão de qualidade dos serviços e da excelência e agilidade no atendimento.
    </p>
    <p class="valor">
    <span>
      Nossos Valores
    </span>
      A satisfação do cliente vem em primeiro lugar, porque ele é a razão da existência de qualquer empresa. Com qualidade garantimos a excelência no que fazemos e estabelecemos uma relação de confiança com nossos clientes. A Inovação nos ajuda a buscar constantemente a implementação de novas idéias e recursos tecnológicos, oferecendo as melhores soluções para os nossos clientes. Nossa Ética é de seguir os valores e princípios de honestidade, intergridade e respeito.
    </p>
    <p class="mais">
      Para ver uns alguns de nossos projetos
      <a href="#">
        Clique aqui!
      </a>
    </p>
  </div>
  <div class="imagens">
    <img src="./assets/imagens/sobre/parquedocarmo-min.jpg" class="img-fluid" alt="">
  </div>
</div>
<div class="clientes">
  <div class="img-clientes">
    <img src="./assets/imagens/sobre/logoflytour2-min.jpg" alt="">
    <img src="./assets/imagens/sobre/logofototica-min.jpg" alt="">
    <img src="./assets/imagens/sobre/logosantander1-min.jpg" alt="">
    <img src="./assets/imagens/sobre/logosmartfit3-min.jpg" alt="">
    <img src="./assets/imagens/sobre/logoamericanas-min.jpg" alt="">
    <img src="./assets/imagens/sobre/logoextrafarma-min.jpg" alt="">
    <img src="./assets/imagens/sobre/logocvc-min.jpg" alt="">
  </div>
  <div class="title">
    <h1>Alguns de nossos clientes</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa esse est harum minus nulla numquam officiis perspiciatis quidem rem tempora tempore ut veniam voluptas, voluptate. Fuga laboriosam numquam quidem!
    </p>
  </div>
</div>