@import "../../../assets/css/theme";
#barcolor{
  background-color: #1b1b1b;
  height: $app-height-bar;
  background-attachment: fixed;
}
.navegacao{
  margin-top: 120px;
  background-color: $app-pallet-light;
  display: grid;
  justify-self: end;
  padding: 0.574rem calc(100% / 10);
  text-align: right;
  ul{
    list-style: none;
    margin-bottom: 0;
    li{
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
.sobre{
  display: grid;
  grid-template-columns: $app-grid-repeat;
  padding: $app-padding-calc;
  grid-gap: 1rem;
  .title{
    display: grid;
    grid-template-rows: auto auto auto auto auto 1fr;
    h1{
      grid-area: 1;
      &::after{
        content: '';
        display: block;
        width: 47px;
        height: 5px;
        background-color: $app-pallet-primary;
        margin: 1rem 0;
        border-radius: $app-border-r2;
      }
    }
    .missao{
      grid-area: 2;
      color: #777777;
      span{
        font-size: 22px;
        margin: 1rem 0;
        color: #1b1b1b;
        &::after{
          content: '';
          display: block;
          width: 10px;
          height: 2px;
          background-color: $app-pallet-primary;
          margin: 1rem 0;
          border-radius: $app-border-r2;
        }
      }
    }
    .visao{
      grid-area: 3;
      color: #777777;
      span{
        font-size: 22px;
        margin: 1rem 0;
        color: #1b1b1b;
        &::after{
          content: '';
          display: block;
          width: 10px;
          height: 2px;
          background-color: $app-pallet-primary;
          margin: 1rem 0;
          border-radius: $app-border-r2;
        }
      }
    }
    .valor{
      grid-area: 4;
      color: #777777;
      span{
        font-size: 22px;
        margin: 1rem 0;
        color: #1b1b1b;
        &::after{
          content: '';
          display: block;
          width: 10px;
          height: 2px;
          background-color: $app-pallet-primary;
          margin: 1rem 0;
          border-radius: $app-border-r2;
        }
      }
    }
    .mais{
      grid-area: 5;
    }
  }
  .imagens{
    max-width: 100%;
    border-radius: $app-border-r2;
    transition: ease-in-out 0.5s;
    img{
      margin: 1rem;
    }
  }
}

.clientes{
  display: grid;
  grid-template-columns: $app-grid-repeat;
  padding: $app-padding-calc;
  grid-gap: 1rem;
  .title{
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;

    h1{
      grid-area: 1;
      grid-row-start: 2;
      &::after{
        content: '';
        display: block;
        width: 47px;
        height: 5px;
        background-color: $app-pallet-primary;
        margin: 1rem 0;
        border-radius: $app-border-r2;
      }
    }
    p{
      grid-row-start: 3;
    }
  }
  .img-clientes{
    max-width: 100%;
    padding: 0;
    transition: ease-in-out 0.5s;

    img{
      max-width: 80%;
      margin: 0 1rem;
    }
  }
}
@media (max-width: 680px){
  .sobre{
    padding: $app-padding-mobile;
    .title{
      h1{
        font-size: 1.5rem;
      }
    }
    .imagens{
      img{
        margin: 0;
      }
    }
  }
  .clientes{
    padding: $app-padding-mobile;
    .title{
      h1{
        font-size: 1.5rem;
      }
    }
    .img-clientes{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 1rem;
    }
  }
}