@import "../../../assets/css/theme";
footer{
  .footer-main{
    background-color: #212121;
    color: $app-pallet-white;
    display: grid;
    grid-template-areas: 'title' 'card';
    padding: 3rem calc(100% / 10);
    grid-gap: 1rem;
    grid-template-columns: $app-grid-repeat;
    justify-items: center;
    .fale-conosco{
      p{
        i{
          color:  $app-pallet-primary;
          width: 20px;
        }
      }
    }
    h2{
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      &::after{
        content: '';
        display: block;
        width: 47px;
        height: 2px;
        background-color: $app-pallet-primary;
        margin: 1rem 0;
        border-radius: $app-border-r2;
      }
    }
    .servicos{
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          a{
            color: $app-pallet-white;
            i{
              color:  $app-pallet-primary;
              width: 20px;
              font-size: 12px;
            }
          }
        }
      }
    }
    .instagram{
      .post-insta{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      }
    }
  }
  .footer-down{
    background-color: #fff;
    color: $app-pallet-dark;
    justify-content: center;
    text-align: center;
    display: grid;
    padding: 2rem calc(100% / 10);
    padding-bottom: 0;
    grid-template-columns: $app-grid-repeat;
    p{
      justify-self: start;
      margin: 1rem 0.5rem;
    }
    img{
      justify-self: center;
    }
    ul{
      justify-self: end;
      li{
        display: inline-block;
        margin: 1rem 0.5rem;
        a{
          background-color: $app-pallet-light;
          color: #7777;
          padding: 10px 10px;
          width: 60px;
          height: 50px;
          transition: ease-in-out 0.5s;
          border-radius: $app-border-r2;
          &:hover{
            background-color: $app-pallet-primary;
            color: $app-pallet-white;
          }
        }
      }
    }
  }
  @media (max-width: 680px) {
    .footer-down{
      p{
        justify-self: start;
      }
      img{
        justify-self: center;
      }
      ul {
        justify-self: center;
      }
    }
  }
}
