<footer>
  <div class="footer-main">
    <div class="fale-conosco">
      <h2>Fale Conosco</h2>
      <p><i class="fas fa-map-marker-alt"></i> Rua Sidnei Soares de Andrade, 125 Pq. Jandaia - Carapicuíba - SP</p>
      <p><i class="far fa-envelope"></i> Email contato@kegvisual.com.br</p>
      <p><i class="fas fa-mobile-alt"></i> Telefone +55(11) 4146-9394</p>
    </div>
    <div class="servicos">
      <h2>SERVIÇOS</h2>
      <ul>
        <li>
          <a href="#" title="Comunicação Visual Interna"><i class="fas fa-chevron-right"></i>Comunicação Visual Interna</a>
        </li>
        <li>
          <a href="#" title="Comunicação Visual Externa"><i class="fas fa-chevron-right"></i>Comunicação Visual Externa</a>
        </li>
        <li>
          <a href="#" title="Soluções em Adesivos"><i class="fas fa-chevron-right"></i>Soluções em Adesivos</a>
        </li>
        <li>
          <a href="#" title="Projetos Especiais"><i class="fas fa-chevron-right"></i>Projetos Especiais</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-down">
    <p>© 2018 KEG Visual Todos os direitos reservados.</p>
    <img src="http://localhost:4200/assets/imagens/kg.png" class="w-25" alt="">
    <ul>
      <li><a href="#" title="acessar nosso facebook"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" title="acessar nosso twitter"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" title="acessar nosso instagram"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</footer>