@import "../../../assets/css/theme";
.topo{
  background-image: url("https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .topo-color{
    background-color: $app-bg-overlay;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr auto auto auto auto 1fr;
    justify-items: center;
    text-align: center;
    h6{
      color: $app-pallet-white;
      grid-row-start: 2;
      font-weight: 100;
    }
    h1{
      color: $app-pallet-white;
      grid-row-start: 3;
      font-size: 3rem;
      span{
        &::after{
          margin: 1rem auto;
          color: $app-pallet-primary;
        }
      }
    }
    p{
      color: $app-pallet-white;
      font-weight: 300;
      grid-row-start: 4;
    }
    .buttons{
      grid-row-start: 5;
      app-button{
        margin: 0.5rem;
      }
    }
  }
}

.sobre{
  display: grid;
  grid-template-columns: $app-grid-repeat;
  padding: $app-padding-calc;
  grid-gap: 1rem;
  .title{
    display: grid;
    grid-template-rows: 2rem auto auto auto auto auto 1fr;
    h2{
      grid-area: 2;
    }
    h5{
      grid-area: 3;
      font-weight: 400;
    }

    p{
      grid-area: 4;
      font-weight: 400;
      color: #777;
    }
    span{
      grid-area: 5;
    }
    app-button{
      margin:  10px 0;
      grid-area: 6;
    }
  }
  img{
    max-width: 100%;
    border-radius: $app-border-r2;
    transition: ease-in-out 0.5s;
  }
}
.servicos{
  background-color: $app-pallet-light;
  display: grid;
  grid-template-areas: 'title' 'card';
  padding: $app-padding-calc;
  grid-gap: 1rem;
  .title{
    text-align: center;
    grid-area: title;
    padding-bottom: 3rem;
    h1{
      font-size: 3rem;
      b{
        color: $app-pallet-primary;
        font-weight: 700;
      }
      &::after{
        content: '';
        display: block;
        width: 47px;
        height: 5px;
        background-color: $app-pallet-primary;
        margin: 1rem auto;
        border-radius: $app-border-r2;
      }
    }
    app-button{
      margin: 0.5rem;
    }
  }
  .panel{
    grid-area: card;
    display: grid;
    grid-template-columns: $app-grid-repeat;
    grid-gap: 1rem;
    .card{
      border: 0;
      border-bottom: 2px solid #ddd;
      img{
        border-top-left-radius: $app-border-r2;
        border-top-right-radius: $app-border-r2;
      }
      h5{
        &::after{
          content: '';
          display: block;
          width: 37px;
          height: 3px;
          background-color: $app-pallet-primary;
          margin: 1rem 0;
          border-radius: $app-border-r2;
        }
      }
      p{
        font-weight: 300;
      }
    }
  }
}
.estatisticas{
  background-image: url("https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .bg-overlay{
    display: grid;
    grid-template-columns: $app-grid-repeat;
    grid-gap: 1rem;
    background-color: rgba(255, 113, 14, 0.9);
    padding: $app-padding-calc;
    justify-items: center;
    text-align: center;
    color: $app-pallet-white;
    .card-item{
      i{
        font-size: 3rem;
      }
      h6{
        font-size: 3rem;
      }
    }
  }

}
.projetos{
  padding: $app-padding-calc;
  grid-template-areas: 'title title title' 'card card card' 'botao botao botao';
  justify-content: center;
  grid-gap: 1rem;
  text-align: center;
  .title{
    text-align: center;
    grid-area: title;
    padding-bottom: 3rem;
    h1{
      font-size: 3rem;
      b{
        color: $app-pallet-primary;
        font-weight: 700;
      }
      span{
        &::after{
          margin: 1rem auto;
        }
      }
    }

  }
  .card-imagens{
    grid-area: card;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    img{
      border-radius: $app-border-r2;
    }
  }
  .botao{
    grid-area: botao;
    margin: 1rem auto;
  }
}
.contato{
  display: grid;
  grid-template-columns: $app-grid-repeat;
  padding: $app-padding-calc;
  grid-gap: 2rem;
  .mapa{
    iframe{
      min-width: 100%;
      max-width: 100%;
      min-height: 500px;
    }
  }

  .formulario{
    h4{
      &::after{
        content: '';
        display: block;
        width: 37px;
        height: 3px;
        background-color: $app-pallet-primary;
        margin: 1rem 0;
        border-radius: $app-border-r2;
      }
    }
    .form-control{
      border: 2px solid #e0e0e0;
      border-radius: $app-border-r2;
      color: #888;
      font-size: 15px;
      font-weight: 300;
    }
  }

}
@media (max-width: 680px) {
  .topo{
    .topo-color{
      height: 100vh;
      h1{
        font-size: 2rem;
      }
    }
  }
  .servicos{
    .title{
      h1{
        font-size: 1.5rem;
      }
    }
  }
  .estatisticas{
    .bg-overlay{
      grid-template-columns: $app-grid-mobile;
      padding: $app-padding-mobile;
      .card-item{
        i{
          font-size: 22px;
        }
        h6{
          font-size: 28px;
        }

      }
    }
  }
  .projetos{
    .title{
      h1{
        font-size: 1.5rem;
        span{
          font-weight: 800;
        }
      }
    }
    .card-imagens{
      grid-template-columns: $app-grid-mobile;
    }
  }
  .contato{
    .mapa{
      display: none;
    }
  }
}