<div class="topo">
  <div class="topo-color">
    <h6>
      Oferecemos soluções diferenciadas
    </h6>
    <h1> Contribuimos para seu <span>Sucesso</span></h1>
    <p>
      Soluções diferenciadas e inovadoras, com tecnologia avançada em serviços de <br> comunicação visual.
    </p>
    <div class="buttons">
      <app-button title="Ver todos serviços"  routerLink="servicos" color="primary">Ver todos serviços</app-button>
      <app-button title="Fale Conosco"  routerLink="contato" color="outline-primary">Fale Conosco</app-button>
    </div>
  </div>
</div>

<section class="sobre">
  <div class="title">
    <h2>
      Bem vindo aos nossos serviços de <br>
      <span> Comunicação Visual</span>
    </h2>
    <h5>
      Nossa empresa utiliza os mais modernos equipamentos e tecnologias para sempre entregar um serviço de alta qualidade. Conosco, sua marca estará em boas mãos.
    </h5>
    <p>
      Trabalhamos com comunicação visual em geral. Produzimos letras caixa, banners, fachadas, adesivagem, acrílico e outros projetos em geral.
    </p>
    <span>Para ver alguns de nossos projetos</span>
    <app-button title="Ver projetos"  color="primary" routerLink="/sobre-nos">Clique Aqui</app-button>
  </div>
  <picture>
    <source srcset="./assets/webp/home/fleury-min.webp" type="image/webp">
    <source srcset="./assets/imagens/fleury-min.jpg" type="image/jpeg">
    <img src="./assets/imagens/fleury-min.jpg" alt="">
  </picture>
</section>
<section class="servicos">
  <div class="title">
    <h1 class="display-4">Fornecemos serviços de Comunicação Visual desde <b>2009</b>
      e já atendemos mais de
      1000 clientes por todo Brasil!!</h1>
    <p class="text-secondary font-weight-light">Estamos sempre prontos a atendê-lo. Nós temos a solução para o seu projeto.</p>
    <app-button title="Ver todos serviços"  routerLink="servicos" color="primary">Ver todos serviços</app-button>
    <app-button title="Fale Conosco"  routerLink="contato" color="outline-primary">Fale Conosco</app-button>
  </div>

  <div class="panel">

    <div class="card">
      <picture>
        <source srcset="./assets/webp/home/cvismart-min.webp" type="image/webp" class="img-fluid">
        <source srcset="./assets/imagens/servicos/cvismart-min.jpg" type="image/jpeg" class="img-fluid">
        <img src="./assets/imagens/servicos/cvismart-min.jpg" alt="" class="img-fluid">
      </picture>
      <div class="card-body">
        <h5>Comunicação Visual Interna</h5>
        <p class="text-secondary">Fabricação e Instalação</p>
      </div>
    </div>
    <div class="card">
      <picture>
        <source srcset="./assets/webp/home/cvesmart-min.webp" type="image/webp" class="img-fluid" class="img-fluid">
        <source srcset="./assets/imagens/servicos/cvesmart-min.jpg" type="image/jpeg" class="img-fluid" class="img-fluid">
        <img src="./assets/imagens/servicos/cvesmart-min.jpg" alt="" class="img-fluid" class="img-fluid">
      </picture>
      <div class="card-body">
        <h5>Comunicação Visual Externa</h5>
        <p class="text-secondary">Fabricação e Instalação</p>
      </div>
    </div>
    <div class="card">
      <picture>
        <source srcset="./assets/webp/home/adesivo-min.webp" type="image/webp" class="img-fluid">
        <source srcset="./assets/imagens/servicos/adesivo-min.jpg" type="image/jpeg" class="img-fluid">
        <img src="./assets/imagens/servicos/adesivo-min.jpg" alt="" class="img-fluid">
      </picture>
      <div class="card-body">
        <h5>Soluções em Adesivos</h5>
        <p class="text-secondary">Impressão e Recortes</p>
      </div>
    </div>
    <div class="card">
      <picture >
        <source srcset="./assets/webp/home/projeto-min.webp" type="image/webp" class="img-fluid">
        <source srcset="./assets/imagens/servicos/projeto-min.jpg" type="image/jpeg" class="img-fluid">
        <img src="./assets/imagens/servicos/projeto-min.jpg" alt="" class="img-fluid">
      </picture>
      <div class="card-body">
        <h5>Projetos Especiais</h5>
        <p class="text-secondary">Fachadas, Banners etc...</p>
      </div>
    </div>
  </div>
</section>
<div class="estatisticas">
  <div class="bg-overlay">
    <div class="card-item">
      <i class="far fa-file-alt"></i>
      <h6>1800+</h6>
      <p>Projetos</p>
    </div>
    <div class="card-item">
      <i class="fas fa-users"></i>
      <h6>1000+</h6>
      <p>Clientes</p>
    </div>
    <div class="card-item">
      <i class="fas fa-user-plus"></i>
      <h6>20+</h6>
      <p>Funcionários</p>
    </div>
    <div class="card-item">
      <i class="fas fa-award"></i>
      <h6>15</h6>
      <p>Premiações</p>
    </div>
  </div>
</div>
<section class="projetos">

  <div class="title">
    <h1 class="display-4">Últimos <span>Projetos</span></h1>
    <p class="text-secondary font-weight-light">Para mais Projetos</p>
  </div>

  <div class="card-imagens">
    <picture>
      <source srcset="./assets/webp/clientes/fototica2-min.webp" type="image/webp" class="img-fluid" class="img-fluid">
      <source srcset="./assets/imagens/clientes/fototica2-min.jpg" type="image/jpeg" class="img-fluid" class="img-fluid">
      <img src="./assets/imagens/clientes/fototica2-min.jpg" alt="" class="img-fluid" class="img-fluid">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/extrafarma-min.webp" type="image/webp" class="img-fluid" class="img-fluid">
      <source srcset="./assets/imagens/clientes/extrafarma-min.jpg" type="image/jpeg" class="img-fluid" class="img-fluid">
      <img src="./assets/imagens/clientes/extrafarma-min.jpg" alt="" class="img-fluid" class="img-fluid">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/flytour-min.webp" type="image/webp" class="img-fluid" class="img-fluid">
      <source srcset="./assets/imagens/clientes/flytour-min.jpg" type="image/jpeg" class="img-fluid" class="img-fluid">
      <img src="./assets/imagens/clientes/flytour-min.jpg" alt="" class="img-fluid" class="img-fluid">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/smart2-min.webp" type="image/webp" class="img-fluid" class="img-fluid">
      <source srcset="./assets/imagens/clientes/smart2-min.jpg" type="image/jpeg" class="img-fluid" class="img-fluid">
      <img src="./assets/imagens/clientes/smart2-min.jpg" alt="" class="img-fluid" class="img-fluid">
    </picture>
    <picture>
      <source srcset="./assets/webp/clientes/santander4-min.webp" type="image/webp" class="img-fluid" class="img-fluid">
      <source srcset="./assets/imagens/clientes/santander4-min.jpg" type="image/jpeg" class="img-fluid" class="img-fluid">
      <img src="./assets/imagens/clientes/santander4-min.jpg" alt="" class="img-fluid" class="img-fluid">
    </picture>
    <img src="./assets/imagens/clientes/santander4-min.jpg" class="img-fluid" alt="">
  </div>

  <div class="botao">
    <app-button title="Ver todos os projetos já realizados"  color="primary" routerLink="projetos">Ver todos</app-button>
  </div>

</section>
<section class="contato">
  <div class="formulario">
    <form action="">
      <div class="title">
        <h4>ENVIE UMA MENSAGEM</h4>
      </div>
      <div class="form-group">
        <label aria-label="text" for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" class="form-control">
      </div>
      <div class="form-group">
        <label aria-label="text" for="email">email:</label>
        <input type="text" name="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label aria-label="text" for="telefone">Telefone:</label>
        <input type="text" name="telefone" id="telefone" class="form-control">
      </div>
      <div class="form-group">
        <label aria-label="text" for="assunto">Assunto:</label>
        <input type="text" name="assunto" id="assunto" class="form-control">
      </div>
      <div class="form-group">
        <label aria-label="text" for="mensagem">Mensagem:</label>
        <textarea name="mensagem" id="mensagem" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <app-button title="Enviar mensagem de contato"  color="primary">Enviar mensagem</app-button>
      </div>
    </form>
  </div>
  <div class="mapa">
    <iframe title="Mapa de localização da Empresa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0601222762393!2d-46.82571898544235!3d-23.566284084680333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefffd300a6ea3%3A0xcffcc0feb7d9636c!2sPrompweb!5e0!3m2!1spt-BR!2sbr!4v1497962938763" style="border:0" allowfullscreen=""></iframe>
  </div>

</section>