@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');


/* Theme Font */
$app-font-primary: 'Roboto', sans-serif;;
$app-font-secondary: 'Roboto Condensed', sans-serif;

$app-font-montserrat: 'Montserrat', sans-serif;
$app-font-secondary: 'Roboto Condensed', sans-serif;

/* Theme color */
$app-pallet-primary : #ff710e;
$app-pallet-dark : #006333;
$app-pallet-light : #eee;
$app-pallet-danger : #ff1c1f;
$app-pallet-white: #fff;
$app-pallet-link: #1b1b1b;
/* Theme border-radius*/
$app-border-r1 : 2px;
$app-border-r2 : 4px;
$app-border-r3 : 50px;

/* Theme padding calc*/
$app-height-bar: 81px;
$app-padding-calc : 6rem calc(100% / 10);
$app-padding-mobile : 2rem 1rem;

/*Theme grid calc*/
$app-grid-repeat : repeat( auto-fit, minmax(250px, 1fr));
$app-grid-mobile: repeat(auto-fit, minmax(150px, 1fr));

/*Theme color overlay*/
$app-bg-overlay : rgba(34, 34, 34, 0.85);
$app-bg-overlay-2: rgba(39, 13, 13, 0.85);

