.navbar{
  transition: ease-in-out 0.1s;
  img{
    width: 78px!important;
    transition: ease-in-out 0.5s;
  }


}
.undefined{
    .navbar-toggler {
      font-size: 20px;
      color: #fff;
      border-color: transparent;
    }
}
.navbar-dark .navbar-nav .nav-link  {
  color: #fff;
  text-transform: uppercase;
}
  .boolChangeClass{
    background-color: #ffffff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    img{
      width: 78px!important;
    }
    .navbar-nav .nav-link {
      color: #000;
      text-transform: uppercase;
    }
    i{
      color: #1b1b1b;
    }
  }
@media (max-width: 680px) {
}