<nav [class]="navbarExpanded != false && boolChangeClass  != 'boolChangeClass'? 'navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-0 ' + boolChangeClass : 'navbar navbar-expand-lg navbar-dark fixed-top py-0 ' + boolChangeClass">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" title="K&G Visual">
      <img src="./assets/imagens/kg.png" alt="" class="w-50">
    </a>
    <button class="navbar-toggler"
            (click)="navbarExpanded = !navbarExpanded"
            type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            [attr.aria-expanded]="navbarExpanded"
            aria-label="Toggle navigation">

      <i [class]="navbarExpanded != false ? 'fas fa-times' : 'fas fa-bars' "></i>

    </button>

    <div [class]="navbarExpanded != false ? 'collapse navbar-collapse show' : 'collapse navbar-collapse' " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item ml-lg-4">
          <a class="nav-link" routerLink="">Início</a>
        </li>
        <li class="nav-item ml-lg-4">
          <a class="nav-link" routerLink="sobre-nos">Sobre a KEG</a>
        </li>
        <li class="nav-item ml-lg-4">
          <a class="nav-link" routerLink="projetos">Projetos</a>
        </li>
        <li class="nav-item ml-lg-4">
          <a class="nav-link" routerLink="servicos">Serviços</a>
        </li>
        <li class="nav-item ml-lg-4">
          <a class="nav-link" routerLink="contato">Contato</a>
        </li>
      </ul>

    </div>
  </div>
</nav>