@import "../../../assets/css/theme";
#barcolor{
  background-color: #1b1b1b;
  height: $app-height-bar;
  background-attachment: fixed;
}
.portfolio{
  padding: $app-padding-calc;
  .title{
    text-align: center;
    grid-area: title;
    padding-bottom: 3rem;
    h1{
      font-size: 3rem;
      b{
        color: $app-pallet-primary;
        font-weight: 700;
      }
      &::after{
        content: '';
        display: block;
        width: 47px;
        height: 5px;
        background-color: $app-pallet-primary;
        margin: 1rem auto;
        border-radius: $app-border-r2;
      }
    }
  }
  app-clientes{
    grid-area: card;
    display: grid;
    grid-template-columns: $app-grid-repeat;
    grid-gap: 1rem;
  }

}
@media (max-width: 680px){
  .portfolio{
    padding: $app-padding-mobile;
    .title{
      h1{
        font-size: 1.5rem;
      }
    }
  }

}