@import "../../../assets/css/theme";

.btn{
  padding: 0.354rem 1.3rem;
  border-radius: $app-border-r1;
  transition: ease-in-out 0.3s;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0a0c0e;
  border-color: #0d1013;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: $app-pallet-primary;
  border-color: $app-pallet-primary;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $app-pallet-dark;;
  color: $app-pallet-white;
  border-color: $app-pallet-dark;
}

.btn-primary{
  background-color: $app-pallet-primary;
  border-color: $app-pallet-primary;
  &:hover, &:focus{
    background-color: $app-pallet-dark;;
    color: $app-pallet-white;
    border-color: $app-pallet-dark;
  }
}
.btn-success{

}
.btn-danger{

}
.btn-info{

}
.btn-light{

}
.btn-warning{

}
.btn-outline-primary{
  color: $app-pallet-primary;
  border-color: $app-pallet-primary;

  &:hover, &:focus{
    background-color: $app-pallet-primary;;
    color: $app-pallet-white;
    border-color: $app-pallet-primary;
  }
}