@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
@import "~bootstrap/dist/css/bootstrap";
@import "assets/css/theme";
body{
  font-family: $app-font-primary;
}

h1,h2,h3,h4,h5,h6{
  font-family: $app-font-montserrat;
  font-weight: 800;
}
h1 span, h2 span{
  font-weight: 400;
  &::after{
    content: '';
    display: block;
    width: 47px;
    height: 5px;
    background-color: $app-pallet-primary;
    margin: 1rem 0;
    border-radius: $app-border-r2;
  }
}
a{
  color: $app-pallet-link;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: $app-pallet-primary;
}
@media(max-width: 680px){
  section{
    padding: $app-padding-mobile!important;
  }
  button{
    margin-bottom: 1rem;
  }
}